<div class="flashes-container"></div>

<script type="text/javascript">
  <% flash.each do |type, flash| %>
    Flashes.create(
      <%= raw type.to_json %>,
      <%= raw flash.to_s.to_json %>
    );
  <% end %>
</script>
